<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>
<body>
<h1 align="center">Welcome to NEWS Portal</h1>
<img src="{% static 'images/Merida.jpg' %}" width="200" height="200">
<ul align="left">
    <li><a href="movies/">Movies Information</a></li>
    <li><a href="sports/">Sports Information</a></li>
    <li><a href="politics/">Politics Information</a></li>
</ul>
</body>
</html>