<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Channel Portal</title>
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>
<body>
<h1>{{head_msg}}</h1>
<ul align="left">
    <li>{{sub_msg1}}</li>
    <li>{{sub_msg2}}</li>
    <li>{{sub_msg3}}</li>
</ul>
<img src="{% static 'images/Anna.jpg' %}" width="200" height="200">
<img src="{% static 'images/bella2.jpeg' %}" width="200" height="200">
<img src="{% static 'images/Elsa.jpg' %}" width="200" height="200">
</body>
</html>