<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/filter1.css' %}">
</head>
<body>
    {% load cust_filters %}
    {% for record in records %}
    <h1>{{record.name}} Information</h1>
    <ul>
        <li>Name: {{record.name | fnu:7 }}</li>
        <li>Subject: {{record.subject | lower}}</li>
        <li>Department: {{record.dept | title }}</li>
        <li>Date: {{record.date | date:'l, Fj ,Y' }}</li>
    </ul><hr>
    {% endfor %}
</body>
</html>