<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jobs1.css' %}">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome To MAHESHJOBS</h1>
            <p>Contenious Job Updates For Every Hour	</p>
            <a	class="btn	btn-primary	btn-lg"	href="hydjobsinfo/">Hyderabad Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a	class="btn	btn-primary	btn-lg"	href="bngjobsinfo/">Bangalore Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-lg" href="punejobsinfo/">Pune Jobs</a>
        </div>
    </div>
</body>
</html>